.Card{
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 2px 5px #3333;
    background-color: rgb(177, 214, 238);
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
    font-size: 15px;
    color:orchid;
    text-shadow: 2px 2px #3333;
    font-style: italic;
}